@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  font-family: Poppins, sans-serif;
  color: #525252
}
body {
}

h1,
h2 {
  font-family: Montserrat, sans-serif;
}
